*~
doc/*.aux
doc/*.log
doc/*.dvi
doc/*.bak
doc/*~
build/*.o
build/*.d
build/mesons
build/salg_tests
build/sflds_tests
tests/*~
tests/mesons
tests/*.mat
doc/beamercolorthemegoldengate.sty
doc/figs/
doc/zeuthen.nav
doc/zeuthen.out
doc/zeuthen.pdf
doc/zeuthen.snm
doc/zeuthen.tex
doc/zeuthen.tex.backup
doc/zeuthen.toc
doc/zeuthen.vrb
oB6/
M000/
build/solverPrec
oB7/
q.log
todo.txt

